@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --base-color: #1d3557;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--base-color);
}

.container {
  position: relative;
  width: 490px;
  height: 105px;
  background-color: #fff;
  padding: 28px 32px;
  border-radius: 18px;
  overflow: hidden;
  transition: all 0.6s ease-out;
}

.search__box {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__box input {
  color: var(--base-color);
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  padding-left: 32px;
}

.search__box input::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: var(--base-color);
  text-transform: capitalize;
}

.search__box button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: var(--base-color);
  background-color: #dff6ff;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.4s ease;
}

.search__box button:hover {
  color: #fff;
  background: var(--base-color);
}

.search__box i {
  position: absolute;
  color: var(--base-color);
  font-size: 24px;
}

.not__found {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  scale: 0;
  opacity: 0;
  display: none;
}

.not__found img {
  width: 70%;
}

.not__found p {
  color: var(--base-color);
  font-size: 18px;
  font-weight: 600;
  margin-top: 12px;
}

.weather__box {
  text-align: center;
  margin-top: 0;
}

.weather__box img {
  width: 60%;
  margin-top: 30px;
}

.weather__box .temperature {
  position: relative;
  color: var(--base-color);
  font-size: 4rem;
  font-weight: 700;
  margin-top: 20px;
}

.weather__box .temperature span {
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}

.weather__box .description {
  color: var(--base-color);
  font-size: 20px;
  font-weight: 600;
  margin-top: -10px;
  text-transform: capitalize;
}

.weather__details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.weather__details .humidity,
.weather__details .wind {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}

.weather__details .humidity {
  padding-left: 20px;
  justify-content: flex-start;
}

.weather__details .wind {
  padding-right: 20px;
  justify-content: flex-end;
}

.weather__details i {
  color: var(--base-color);
  font-size: 26px;
  margin-right: 10px;
}

.weather__details span {
  color: var(--base-color);
  font-size: 18px;
  font-weight: 500;
}

.weather__details p {
  color: var(--base-color);
  font-size: 14px;
  font-weight: 500;
}

.weather__box,
.weather__details {
  scale: 0;
  opacity: 0;
}

.fadeIn {
  animation: 0.6s fadeIn forwards;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90vmin;
  }

  .search__box input,
  .search__box input::placeholder {
    font-size: 16px;
  }

  .search__box button {
    font-size: 18px;
  }

  .search__box i {
    font-size: 22px;
  }

  .search__box button {
    width: 40px;
    height: 40px;
  }

  .not__found img {
    width: 100%;
  }

  .weather__box img {
    width: 80%;
  }

  .weather__details span {
    font-size: 16px;
  }

  .weather__details i {
    font-size: 22px;
  }

  .weather__details .wind {
    padding-right: 0;
  }

  .weather__details .humidity {
    padding-left: 0;
  }
}
